*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

:root {
    --greenPrimary: #164e63;
    --greenSecundary: #02260f;
    --greenTerciary: #0e7490;
    --whitePrimary: #fff;
}

.container{
    max-width: 1920px;
    width: 100%;
    padding: 0 10px ;
    margin: auto;
}

header{
    width: 100%;   
    background-color: var(--greenPrimary);
}

.container-header{
    max-width: 1920px;
    width: 100%;   
    background-color: var(--greenPrimary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
}

.links{
    display: flex;
    gap: 20px;
}

.links div {
    background-color: white;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .links a{
    color: var(--greenPrimary);
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   text-align: center;
    border-radius: 6px;
    transition: all 200ms ease-in-out;

}



header .links div a:hover{  
    color: var(--greenSecundary);
    background: rgb(200, 197, 197);

}

.box-img{
    position: relative;
    height: 40px;
    background-color: red;
}

.logo{ 
    position: absolute;
    top: -5px;
    width: 100px;

}

.section-1{
    width: 100%;
    margin-top: 60px;
}

.section-1 div{
    background-color: var(--greenPrimary);
    border-radius: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 600px;
    width: 90%;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.409);
    position: relative;
}

.search-box{
    display: flex;
    position: relative;
}

.search-lup{
    width: 500px;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    outline: none;
    border: 1px solid gray;
}

.lupa-img{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.lupa-img:hover{
    transform: scale(1.2);
}

.section-cards{
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    width: 300px;
    height: 400px;
    background-color: var(--greenTerciary);
    border-radius: 10px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.582);
}

.cards-topo{
    width: 100%;
    height: 70px;
    background-color: var(--greenPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img-dog{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: -35px;
    overflow: hidden;
}

.img-dog img{
    width: 100%;
    position: relative;
    top: 17px;
    left: 5px;
}

.text-card1{
    
}

footer{
    width: 100%;
    height: 112px;
    background-color: var(--greenPrimary);
    margin-top: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patas{
    position: absolute;
    top: 100px;
    z-index: -1;
    right: 0;
}

.patas img{
    width: 500px;
}

.title-card3{
    text-align: center;
    color: var(--whitePrimary);
    font-weight: 600;
    font-size: 25px;
    font-family: Verdana;
    margin-top: 60px;
    text-shadow: 2px 2px 2px black;
}

.p-card3{
    text-align: left;
    text-decoration: none;
    text-rendering: auto;
    color: var(--whitePrimary);
    margin-top: 5px;
    font-size: 14px;
    margin-left: 12px;
}

.section-title{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.section-p{
    color: #ecfeff;
}

.saib-mais{
    width: 110px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--greenPrimary);
    color: white;
    text-decoration: none;
    margin-left: 92px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 1px 1px 1px white;
}

.saib-mais:hover{
    background-color: #155e75;
}

.icon-dog{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 60px;

}



/* reponsividade */
@media (max-width:768px){
    .search-box{
        display: none;
    }
    .container-header{
        flex-direction: column-reverse;
    }
    
    .logo{ 
        position: absolute;
        top: 15px;
        width: 100px;
        left: -50px;
    }
    
    .section-1{
        display: flex;
        justify-content: center;
    }

}




